.title {
    height: 42px;
    padding: 16px 0;

    text-align: center;

    background-color: var(--title-color);
}

.theme-toggle-wrapper {
    height: 100%;
    padding: 0 104px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.theme-toggle-wrapper > * {
    color: var(--toggle-font-color);
}

.theme-toggle {
    height: 24px;
    width: 44px;

    display: flex;
    align-items: center;

    border-radius: 16px;
    border: var(--toggle-border-color) 2px solid;
}

.theme-toggle:hover, .theme-toggle:focus {
    box-shadow: 2px -2px 0px var(--focus-color), 
    -2px 2px 0px var(--focus-color), 
    -2px -2px 0px var(--focus-color), 
    2px 2px 0px var(--focus-color);
}

.theme-toggle__circle {
    display: inline-block;
    height: 16px;
    width: 16px;

    border-radius: 50%;
    background-color: var(--toggle-circle-color);
    transition: transform 0.3s linear;
}

.theme-toggle_theme-crazy .theme-toggle__circle {
    transform: translateX(150%);
}

.theme-toggle_theme-strict .theme-toggle__circle {
    transform: translateX(0);
}